body{
  margin: 5px;
}
#watermark{

  -webkit-print-color-adjust:exact !important;
  color-adjust: exact !important;
  background-image: linear-gradient(45deg,rgba(34, 21, 21, 0.62),rgba(206, 178, 178, 0.58)), url("../../assets/images/watermark.jpg");
  background-position:center;
  width: 100%;
  

}
@media print{
  body{
    content: linear-gradient(45deg,rgba(34, 21, 21, 0.62),rgba(206, 178, 178, 0.58)), url("../../assets/images/watermark.jpg");;
  }
}